/*--------------------------------------------------------- 
  Empty file to override variables in user applications.

  To set your own colors, sizes or fonts just override this 
  file in your application and set variables according to
  globals/_variables.scss file.
  --------------------------------------------------------- */

$link_text_color:           #006496 !default;
$grey_background_color:     #CCCCCC !default;
$c_red:                     #E0162B !default;  /* American red flag */


$hover_background_color:    lighten($grey_background_color, 10) !default;

/*|------------------------------------
  |- Basic
  |                                  */
$list-width : 150px; 