<div id="user_content">
  <table class="index" id="listing_users" data-hook>
    <colgroup>
      <col style="width: 85%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_users_index_headers">
        <th>Blocked Ip Address</th>        
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @guest_ips.each do |guest_ip|%>
        <% next if request.remote_ip == guest_ip.ip_address %>
        <tr id="guest_tr_<%= guest_ip.id %>" class="<%= cycle('odd', 'even')%>">
          <td><%= guest_ip.ip_address %></td>          
          <td>            
            <a href="/guest_user_ips/<%= guest_ip.id %>" class="button delete" data-confirm="Are you sure?" data-remote="true" data-method="delete">Delete </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>

<style>
  .delete{ background:#ef4338; }
  
  .error_flash_message{
    background: rgba(198, 15, 19, 0.8);
    color: white;
  }
</style>
