<footer id="footer" class="twelve columns" data-hook>
  <div id="footer-left" class="columns six" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns six" data-hook></div>
</footer>
